body{
    background-color: rgba(0, 0, 0, 0.850
    );
}
.bemvindo{
    color: white;
    text-align: center;
}
.minha-historia{
    color: white;
    width: 350px;
    height: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    float: left;
}
.img1{
    float: right;
}